.search-column{
    background-color:	#a5a5a5;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}